 /* Globals Start */
 
 *,*::after,*::before
 {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 body
 {
     font-family: sans-serif;
     overflow-x: hidden;

 }
 a, a:visited, a:hover {
     text-decoration: none;
   }

 .icons
 {
    width: 20px;
    height: 20px;
 }
  /* Globals End */
  /* Header Start */

  header
  {
      background-color: cyan;
      width: 100vw;
  }
  header a
  {
      display: block;
      /* when change here then also in aside top */
      width: 25%;
      padding: 2px;
  }
  header img
  {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
      border: 1px solid black;
  }
  /* for watch course in student */
  #my_c
  {
      display: block;
      width: 15%;
      text-align: center;
      border-radius: 10px;
      padding:10px 5px;
      transform: translate(10px,-10px);
      background-color: red;
      color: white;
  }
  /* Header End */
  /* Aside Start */
  aside
  {     
      position: fixed;
      top: calc(0.26*(25/100*100vw));
      left: 0;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.192);
      width: 20%;
      z-index: 2;
      overflow-y: auto;

  }
  aside img
  {
      width: 90%;
      height: calc(90/100*(20/100*100vw));
      border-radius: 50%;
      border: 2px solid blue;
      margin: 5px;
      text-align: center;
      margin-bottom: 18px;
  }
  aside a
  {
      display: block;
      font-size: 1.1em;
      margin: 0px 5px;
      padding: 5px 0px;
      padding-left: 7px;
      color: black;
  }
  aside a:last-child
  {
      background-color: red;
      font-weight: bold;
      color: white;
      margin-top: 20px;
  }
  /* Header End */
  section
  {
       width: 75%;
       margin: 18px;
       margin-left: 22%;
       background-color: lightblue;
  }
  .dash_box
  {
      display: flex;
      justify-content: space-between;
  }
  .card
  {
      text-align: center;
      background-color: turquoise;
      width: 30%;
      padding: 15px 0px;
  }
  .t_title
  {
      font-size: 1.2em;
      text-align: center;
      margin-top: 15px;
      background-color: black;
      color: white;
      padding: 5px;
  }

    table,th,td
    {
        text-align: start;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        border-collapse: collapse;
        margin: 10px;
    }
    tr:first-child
    {
        background-color: cyan;
    }
    tr:nth-child(even)
    {
        background-color: rgba(0, 0, 0, 0.164);
    }
    th,td
    {
        padding: 10px 10px;
    }
    .ac
    {
        padding: 0;
        position: relative;
    }
    .ac a
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .ac a:hover
    {
        background-color: lightcyan;
    }
    .ac img
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .add 
    {
        display: inline-block;
     }
     .add:hover
     {
        background-color: lightgoldenrodyellow;

    }
/* FOR STUDENT MY COURSES */
    .side
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
        margin-bottom: 25px;
    }
    .side img
    {
        width: 40%;
        height: auto;
    
    }
    .side>div
    {
        width: 55%;
    }
    .side_e
    {
        margin: 0;
        border: none;
        padding: 0;
    }
    .side_e a
    {
        padding: 5px;
        font-size: 1.2em;
        font-weight: bold;
        border: 2px solid black;
        color: black;
        border-radius: 5px;
        transition: .3s;
    }
    .side_e a:hover
    {
        color: white;
        background-color: black;
    }
    /* FOR STUDENT MY COURSES */
